*{
    padding: 0;
    margin: 0;
}


footer{
    margin-top: unset;
}

#main-error{

    width: 100%;
    height: auto;
   
}

.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    
}

.error-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-h2{
    font-family: var(--fuente-titulo);
    font-size: 10vw;
    
}

.error-p{
    font-family: var(--fuente-titulo);
    font-size: 1.5rem;
    margin-top: 2rem;
    
}
.boton__home {    
    padding: 16px 48px; 
    font-size: 18px;
    color: white;
    background-color: crimson;
    border: none;
    border-radius: 3px;
    font-family: var(--fuente-titulo);
    
  }