:root{
  --color: #dc143c;
  --fuente-titulo: Verdana, Geneva, Tahoma, sans-serif ;
  --fuente-texto:'Montserrat' ;
  --color-footer:#4f0217;
  --color-navbar:#8d0e33; 
  --color-text-dark:#1f1f29;
  --color-text:#f9f9f4;
  --color-text-footer: #fff1c5;
}


*{
  margin: 0;
  padding: 0;
}

/*****************Footer***********/

footer{
  max-width:100%;
  height:17.5rem;
  margin-top: 10vh;
  background-color: var(--color-footer);
  font-family:var(--fuente-texto)
}

.footer-container{
  width: inherit;
  height: 17.5rem;
  display: flex;
  flex-flow: row;
  justify-content:center;
  align-items: flex-start;
  padding:5vh 2rem  5vh 5rem;
  background-color:var(--color-footer);
  color:var(--color-text-footer);
}

.foo-section{
  width: 73.12rem;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  margin:0 1.25rem;
}
.foo-title{
  font-size: 1.5rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.foo-brand{
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  
}
.foo-name-brand{
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.05rem;
  text-align: left;
}

.foo-subtitle{
  width: 10.93rem;
  display: flex;
  flex-flow: column wrap;
  margin:0 4.5%;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left
}

.foo-subtitle span, a{
  margin:4% 0;
  text-decoration: none;
  color: var(--color-text-footer)
}

.subscribe-container{
  display:inline-flex;
  gap: 1rem;
  margin-top:0.5rem;
}
.subscribe-container input{
  background-color: var(--color-text-footer);
}
.subscribe-container button{
  padding:0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--color-text-footer);
}

.foo-copyright{
  max-width: 100%;
  height: 4rem;
  padding:1.5rem auto 1.5rem;
  color:var(--color-text-footer);
  background-color:var(--color-footer);
  border-top: 1px solid var(--color-text-footer);
  display: flex;
  justify-content: center;
  align-items: center;
}

.foo-copyright span{
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-text-footer); 
  opacity: 0.24;
}

#foo-comments{
  width: 14rem;
  height: 1rem;
  flex-grow: 0;
  opacity: 0.7;
  font-size: 0.75rem;
  font-weight:lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-text-footer);
}

.foo-platform-digital{
  display: flex;
  flex-flow:row nowrap;
  gap: 1rem;
}

.foo-social-media{
  width: 70%;
  height: 2rem;
  color: var(--color-text-footer);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:1.5rem;
  padding: 0;
  margin: 1rem;
}  

/*************TABLET***********************/
@media only screen and (min-width: 1024px){

/*****************Footer***********/

footer{
  width:99vw;
  height:max-content;
  margin-top: 10vh;
}

.footer-container{
  width:94.5vw;
  display: flex;
  flex-flow: row;
  justify-content:flex-start;
  align-items: flex-start;
  padding:5vh 1rem;
}

.foo-section{
  width: max-content;
  gap: 1rem;
  margin:0 0.2rem;
}
.foo-title{
  font-size: 1.2rem;
}

.foo-name-brand{
  font-size: 1.4rem;
}

.foo-subtitle{
  display: flex;
  font-size: .9rem;
}

.subscribe-container{
  display:block;
}


.subscribe-container button{
  margin-top:1rem ;
}
.foo-copyright{
  width: 99vw;
  height: 4rem;
  padding:1.5rem auto;
  display: flex;
}

#foo-comments{
  width: 8rem;
}

.foo-platform-digital{
  display: flex;
  flex-flow:row wrap;
  margin-top: .8rem;
  padding: 0;
}

.foo-platform-digital-img{
  width: 5rem;
}

.foo-social-media{
  width: 80%;
  display: flex;
  gap:1rem;
  margin-top:0.5rem ;
}  

}

@media only screen and (min-width: 766px) and (max-width: 1023px) {
  /*****************Footer***********/
  
footer{
  width:100%;
  height:max-content;
}
  
.footer-container{
  width:99vw;
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  padding:5vh 1rem;
}
  
.foo-section{
  width: max-content;
  flex-grow: 0;
  display: flex;
  margin:0 0.1rem;
}
  .foo-title{
  font-size: 1rem;
  }

.foo-name-brand{
  font-size: 1.4rem;
  }
  
.foo-subtitle{
  width: 8rem;
  display: flex;
  margin:0 2%;
  font-size: .8rem;
}


.subscribe-container{
  display:block;
  gap: 1rem;
  margin-top:0.5rem;
}

.subscribe-container button{
  margin-top:1rem ;
}

.foo-copyright{
  width: 99vw;
  padding:1.5rem auto;
  display: flex;
}

#foo-comments{
  width: 8rem;
}

.foo-platform-digital{
  display: flex;
  flex-flow:row wrap;
  margin-top: .8rem;
  padding: 0;
}
  
.foo-platform-digital-img{
  width: 5rem;
}

.foo-social-media{
  width: 80%;
  display: flex;
  gap:1rem;
  padding: 0;
  margin-top:0.5rem ;
}  

}

/****************MOBILE***********************/
@media only screen and (width <= 767px){

/****************Footer***********/
footer{
  height:max-content;
}

.footer-container{
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-items: flex-start;
  padding:5vh 2rem;
}

.foo-title{
  margin-top: 1rem;
}

/*.foo-subtitle{
  display: none;
}*/

.foo-subtitle-mobile{
  display: flex;
  flex-flow: column wrap;
  margin:0;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left
}

label[class~="foo-subtitle"]{
  display: flex;
  flex-flow: column wrap;
  margin:0;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left
}

}

