:root{
  --color: #dc143c;
  --fuente-titulo: Verdana, Geneva, Tahoma, sans-serif ;
  --fuente-texto:'Montserrat' ;
  --color-footer:#4f0217;
  --color-navbar:#8d0e33; 
  --color-text-dark:#1f1f29;
  --color-text:#f9f9f4;
  --color-text-footer: #fff1c5;
}


*{
  margin: 0;
  padding: 0;
}


/* inicio header  */

header{
  background-color: var(--color-navbar);
  max-width: 100vw;
  height: 6.06rem;
  padding: 2.68rem 3.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fuente-titulo);
}

.nav-container{
  width: 90vw;
  height: 2.35rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  gap: 1rem;
} 

.nav-menu{
  width: 55vw;
  height: 1.5rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.nav-logo{
  width: 7.37rem;
  height: 1.5rem;
  margin: 0 4rem 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.075rem;
  text-align: left;
  color: #ebf6ff;
}

.menu-mobile{
  height: 1.5rem;
  display: flex;
  align-items: center;
}
.fa-solid,
.fa-heart,
.logIn-icon{
  color: var(--color-text);
}
.nav-section{
  width: 42vw;
  height: 1.5rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
}
a{
  text-decoration: none;
}

.nav-section a{
  flex-grow: 0;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ebf6ff;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  position: relative;
}

.nav-section a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height:0.125rem;
  left: 50%;
  position: absolute;
  background:lightblue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-section a:hover:after { 
  width: 100%; 
  left: 0; 
}

.nav-search{
  width: 20rem;
  height: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.nav-input input{
  width:14rem;
  height: 1.8rem;
  border-radius: 0.25rem;
}

.nav-icons{
  max-width:20vw;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.3rem 0;
  color: var(--color-text);
  gap: 2rem;
}
.cart-icon{
  position:relative;
  bottom: 0.2rem;
  background-image: url(../Assets/Img/navbar/shopping-cart.png);
  background-repeat: no-repeat;
  background-size:85%;
  padding: 0 1rem 0.5rem;
}

.logIn-icon{
  display:none;
}
/******* fin header  ********/

/****Acordeon e imagen principal******/

.menu-section-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: 24rem;
}

.menu-section-accordeon{
  width: 13.56rem;
  height: 21.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin: 0 1rem 4.37rem 0;
  padding: 0 1rem 1rem 1rem;
}

.menu-section-accordeon div a{
  color: var(--color-text-dark);
  font-family: var(--fuente-texto);
}
.row-icon{
  margin-left:8vw;
}
.menu-section-divider{
  width: 0.03rem;
  height: 22.5rem;
  margin: 0 1rem 0 1rem;
  opacity: 0.3;
  background-color: #000;
}

aside{
  width: 53vw;
  min-width: 50vw;
  height: 21.5rem;
  margin: 0 0 4.37rem 2rem;
  padding: 1rem 0 0 2rem;
  background-color: #000;
  color: #ebf6ff;
  display:flex ;
  flex-wrap: wrap;
}

.menu-section-subtittle{
  height: 2.81rem;
  width:fit-content;
  display: flex; 
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 4rem;
  z-index: 2;
}

.menu-section-img{
  width:90vw;
  position: absolute;
  bottom: 2rem;
  left: 47vw;
  margin-right: 6%;
}

.menu-section-img img{
  width: 26rem;
} 

.menu-section-tittle{
  position: relative;
  right: 20%;
  top:50%;
  width: 18.37rem;
  font-size: 1.8rem;
  font-weight: bold;
  z-index:2;
}

.product-container{
  margin-top: 28rem;
}
/****Fin Acordeon e imagen principal******/
.product-container{
margin-top: 1rem;
}


/*************TABLET***********************/
@media only screen and (min-width <= 1024px){

  /* inicio header  */
  
  header{
      max-width: 100vw;
      height: 6.06rem;
      padding: 2.68rem 4.2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--fuente-titulo);
  }
  
  .nav-container{
      width: 90vw;
      height: 2.35rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items:center;
      gap: 1rem;
  } 
  
  .nav-menu{
      width: 55vw;
      height: 1.5rem;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: .5rem;
      padding: 0;
  }
  
  .nav-logo{
      width: 7.37rem;
      height: 1.5rem;
      margin: 0 4rem 0 0;
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.075rem;
      text-align: left;
      color: #ebf6ff;
  }
  
  .menu-mobile{
      color: #ebf6ff;
      height: 1.5rem;
      display: flex;
      align-items: center;
  }
  .nav-section{
      width: 42vw;
      height: 1.5rem;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.8rem;
  }
  a{
      text-decoration: none;
  }
  
  .nav-section a{
      flex-grow: 0;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ebf6ff;
      display: inline-block;
      padding: 0.5rem 0.8rem;
      position: relative;
  }
  
  .nav-section a:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height:0.125rem;
      left: 50%;
      position: absolute;
      background:lightblue;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
  }
  .nav-section a:hover:after { 
      width: 100%; 
      left: 0; 
  }
  
  .nav-search{
      width: 15rem;
      height: 4rem;
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
  }
  
  .nav-input input{
      width:15rem;
      height: 1.8rem;
      border-radius: 0.25rem;
  }
  
  .nav-icons{
      max-width:10vw;
      min-height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 .5rem ;
      color: #ebf6ff;
      gap: 1rem;
  }
  .cart-icon{
      position:relative;
      bottom: 0.2rem;
      background-image: url(../Assets/Img/navbar/shopping-cart.png);
      background-repeat: no-repeat;
      background-size:85%;
      padding: 0 1rem 0.5rem;
  }
  
  .logIn-icon{
      display:none;
  }
  /******* fin header  ********/
  
  /****Acordeon e imagen principal******/
  
  .menu-section-container{
      display: flex;
      flex-flow: row nowrap;
      height: 24rem;
      width: 85vw;
  }
  
  .menu-section-accordeon{
      width: 13rem;
      height: 21.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      margin: 0 1rem 4.37rem 0;
      padding: 0 .5rem 1rem 1rem;
  }
  .row-icon{
      margin-left:8vw;
  }
  .menu-section-divider{
      width: 0.03rem;
      height: 22.5rem;
      margin: 0 1rem 0 1rem;
      opacity: 0.3;
      background-color: #000;
  }
  
  aside{
      width:max-content;
      height: 21.5rem;
      margin: 0 0 4.37rem 2rem;
      padding: 1rem 2rem 0 2rem;
      background-color: #000;
      color: #ebf6ff;
      display:flex ;
      flex-wrap: wrap;
  }
  
  .menu-section-subtittle{
      height: 2.81rem;
      width:fit-content;
      display: flex; 
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      margin-top: 4rem;
  }
  
  .menu-section-subtittle h3{
      z-index:2;
  }
  
  .menu-section-img{
      width:max-content;
      position: absolute;
      bottom: 4.5rem;
      left: 47vw;
      margin-right: 6%;
  }
  
  .menu-section-img img{
      width:24rem;
  }
  
  .menu-section-tittle{
      position: relative;
      right:-1%;
      top:-1%;
      width: 18.37rem;
      font-size: 1rem;
      font-weight: bold;
      z-index:2;
  }
  /****Fin Acordeon e imagen principal******/
  .product-container{
    margin-top: 1rem;
    }
}
/****************MOBILE***********************/
/****************MOBILE***********************/
@media only screen and (width <= 767px){

  /**********Header************************/
  
  header{
      padding: 2.68rem 1rem 1rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
  }
  
  .nav-container{
      flex-wrap: wrap;
  }
      
  .nav-menu{
      width: 35vw;
      height: 1.5rem;
  }
  
  .nav-logo{
      margin-top: 0.5rem;
  }
  
  .menu-mobile{
      margin-top: 0.5rem;
  }
  
  .nav-section{
      display: none;
  }
  
  .nav-search{
      width: 55vw;
      height: 1.8rem;
      }
      
      .nav-input input{
      width:80vw;
  }
  
  .nav-icons{
      width: 30vw;
      position: absolute;
      top:3rem;
      left: 55%;
      padding: 0 1rem 0;
      margin-left: 1.2rem;
      gap:1rem
  }
  .logIn-icon{
      display: flex;
      align-items: center;
  }
  
  /**********Fin Header************************/
  
  /*****Acordeon e imagen principal**********/
  
  .menu-section-container{
      width: 90vw;
      height: 15rem;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5rem;
  }
  
  .menu-section-accordeon{
      height:14rem;
      display: flex;
      margin-bottom:2rem;
  }
  .row-icon{
      margin-left:8vw;
  }
  .menu-section-divider{
      height: 15rem;
  }
  
  aside{
      width: 78vw;
      display: flex;
      flex-flow: column wrap;
      align-items: start;
      justify-content: center;
      margin: 0 0 4.37rem 1rem;
      padding: 1rem 0 0 1rem;
  }
  
  .menu-section-subtittle{
      height: 2rem;
      margin-top:1rem;
      padding-bottom:20rem ;
  }
  
  .menu-section-img{
      top: 25rem;
      left: 5vw;
  }
  .menu-section-img img{
      width: 78vw;
      height:auto;
  }
  
  .menu-section-tittle{
      top: -5.5rem;
      right:60%;
      font-size: 1.4rem;
  }
  
  #section-mejores-productos{
      margin-top:28rem ;
  }

  .product-container{
    margin-top:28rem;
  }
}