:root{
  --color: #dc143c;
  --fuente-titulo: Verdana, Geneva, Tahoma, sans-serif ;
  --fuente-texto:'Montserrat' ;
  --color-footer:#4f0217;
  --color-navbar:#8d0e33; 
  --color-text-dark:#1f1f29;
  --color-text:#f9f9f4;
  --color-text-footer: #fff1c5;
}


*{
  margin: 0;
  padding: 0;
}


/* inicio header  */

header{
  background-color: var(--color-navbar);
  max-width: 100vw;
  height: 6.06rem;
  padding: 2.68rem 3.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fuente-titulo);
}

.nav-container{
  width: 90vw;
  height: 2.35rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  gap: 1rem;
  color: var(--color-text);
} 

.nav-menu{
  width: 55vw;
  height: 1.5rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0;
}

.nav-logo{
  width: 7.37rem;
  height: 1.5rem;
  margin: 0 4rem 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.075rem;
  text-align: left;
  color: var(--color-text)#ebf6ff;
}

.menu-mobile{
  height: 1.5rem;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.fa-solid,
.fa-heart,
.logIn-icon{
  color: var(--color-text);
}
.nav-section{
  width: 42vw;
  height: 1.5rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
}
a{
  text-decoration: none;
}

.nav-section a{
  flex-grow: 0;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color:var(--color-text) #ebf6ff;
  display: inline-block;
  padding: 0.5rem 0.8rem;
  position: relative;
}

.nav-section a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height:0.125rem;
  left: 50%;
  position: absolute;
  background:lightblue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-section a:hover:after { 
  width: 100%; 
  left: 0; 
}

.nav-search{
  width: 20rem;
  height: 4rem;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.nav-input input{
  width:14rem;
  height: 1.8rem;
  border-radius: 0.25rem;
}

.nav-icons{
  max-width:20vw;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.3rem 0;
  color: var(--color-text);
  gap: 2rem;
}
.cart-icon{
  position:relative;
  bottom: 0.2rem;
  background-image: url(../Assets/Img/navbar/shopping-cart.png);
  background-repeat: no-repeat;
  background-size:85%;
  padding: 0 1rem 0.5rem;
}

.logIn-icon{
  display:none;
}
/******* fin header  ********/

/****Acordeon e imagen principal******/

.menu-section-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: 24rem;
  width: 85vw;
}

.menu-section-accordeon{
  width: 13.56rem;
  height: 21.5rem;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin: 0 2rem 4.37rem 0;
  padding: 0 1rem 1rem 1rem;
}

.menu-section-accordeon div a{
  color: var(--color-text-dark);
  font-family: var(--fuente-texto);
}
.row-icon{
  margin-left:8vw;
}

aside{
  width: 53vw;
  min-width: 50vw;
  height: 21.5rem;
  margin: 0 0 4.37rem 2rem;
  padding: 1rem 0 0 2rem;
  background-color: #000;
  display:flex ;
  flex-wrap: wrap;
  color: var(--color-text);
}

.menu-section-subtittle{
  height: 2.81rem;
  width:fit-content;
  display: flex; 
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 4rem;
  z-index: 2;
}

.menu-section-img{
  width:38vw;
  position: absolute;
  bottom: 2rem;
  left: 30%;
  margin-right: 1%;
}

.menu-section-img img{
  width: 26rem;
} 

.menu-section-tittle{
  position: relative;
  right: 20%;
  top:50%;
  width: 18.37rem;
  font-size: 1.8rem;
  font-weight: bold;
  z-index:2;
}

/****Fin Acordeon e imagen principal******/
.product-container{
  margin-top: 1rem;
}

/*************TABLET***********************/
@media only screen and (min-width <= 1024px){

/* inicio header  */

header{
  padding: 2.68rem 4.2rem 1rem;
  display: flex;
}

.nav-menu{
  gap: .5rem;
}

.nav-search{
  width: 3rem;
}

.nav-input input{
  width:3rem;
}

.nav-icons{
  max-width:10vw;
  display: flex;
  padding: 0 .5rem ;
  gap: 1rem;
}

.menu-mobile{
  visibility: visible;
}

/******* fin header  ********/

/****Acordeon e imagen principal******/

.menu-section-container{
  display: flex;
  flex-flow: row nowrap;
  width: 85vw;
}

.menu-section-accordeon{
  width: 13rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 .5rem 1rem 1rem;
  border-right:1px solid var(--color-text-dark);
}

aside{
  width:max-content;
  padding: 1rem 2rem 0 2rem;
}

.menu-section-subtittle h3{
  z-index:2;
}

.menu-section-img{
  width:max-content;
  position: absolute;
  bottom: 4.5rem;
}

.menu-section-img img{
  width:25vw;
}

.menu-section-tittle{
  position: relative;
  right:-1%;
  top:-1%;
  font-size: 1rem;
}

/****Fin Acordeon e imagen principal******/
.product-container{
  margin-top: 1rem;
}
}

@media only screen and (min-width: 766px) and (max-width: 1024px) {

/**********Header************************/

header{
  padding: 2.68rem 1rem 1rem;
  display: flex;
}

.nav-container{
  flex-wrap: wrap;
  max-width: 90%;
  margin-left: 2rem;
}

.nav-menu{
  width: 35vw;
  height: 1.5rem;
}

.nav-logo{
  margin-top: 0.5rem;

}

.menu-mobile{
  visibility: visible;
  margin-top: 0.5rem;
}

.nav-section{
  display: none;
}

.nav-search{
  width: 55vw;
  height: 1.8rem;
  margin:0 auto;
}

.nav-input input{
  margin-left: 30%;
  width:40vw;
}

.nav-icons{
  width: 30vw;
  position: absolute;
  top:10%;
  left: 70%;
  padding: 0 1rem 0;
  margin-left: 1.2rem;
  gap:1rem
}
.logIn-icon{
  display: flex;
  align-items: center;
}

/**********Fin Header************************/

/*****Acordeon e imagen principal**********/

.menu-section-container{
  width: 90vw;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.menu-section-accordeon{
  height:14rem;
  display: flex;
  margin-bottom:2rem;
  border-right:1px solid var(--color-text-dark);
}
.row-icon{
  margin-left:8vw;
}

aside{
  width: 78vw;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: center;
  margin: 0 0 4.37rem 1rem;
  padding: 1rem 0 0 1rem;
}

.menu-section-subtittle{
  height: 2rem;
  margin-top:6rem;
  padding-bottom:20rem ;
}

.menu-section-img{
  top: 25rem;
  left: 29vw;
  top:20rem;
}
.menu-section-img img{
  width: 45vw;
}

.menu-section-tittle{
  top: 2rem;
  right:40%;
  font-size: 1.8rem;
}

#section-mejores-productos{
  margin-top:28rem ;
}

.product-container{
  margin-top:28rem;
}
}

/****************MOBILE***********************/
@media only screen and (width <= 767px){

/**********Header************************/

header{
  padding: 2.68rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-container{
  flex-wrap: wrap;
}

.nav-menu{
  width: 35vw;
  height: 1.5rem;
}

.nav-logo{
  margin-top: 0.5rem;
}

.menu-mobile{
  visibility: visible;
  margin-top: 0.5rem;
}

.nav-section{
  display: none;
}

.nav-search{
  width: 55vw;
  height: 1.8rem;
}

.nav-input input{
  width:80vw;
}

.nav-icons{
  width: 30vw;
  position: absolute;
  top:3rem;
  left: 55%;
  padding: 0 1rem 0;
  margin-left: 1.2rem;
  gap:1rem
}
.logIn-icon{
  display: flex;
  align-items: center;
}

/**********Fin Header************************/

/*****Acordeon e imagen principal**********/

.menu-section-container{
  width: 90vw;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.menu-section-accordeon{
  height:14rem;
  display: flex;
  margin-bottom:2rem;
  border-right:1px solid var(--color-text-dark);
}
.row-icon{
  margin-left:8vw;
}

aside{
  width: 78vw;
  display: flex;
  flex-flow: column wrap;
  align-items: start;
  justify-content: center;
  margin: 0 0 4.37rem 1rem;
  padding: 1rem 0 0 1rem;
}

.menu-section-subtittle{
  height: 2rem;
  margin-top:1rem;
  padding-bottom:20rem ;
}

.menu-section-img{
  top: 28rem;
  left: auto;
  right: auto;
}
.menu-section-img img{
  width: 60vw;
  height:auto;
}

.menu-section-tittle{
  top: -5.5rem;
  right:65%;
  font-size: 1.4rem;
}

#section-mejores-productos{
  margin-top:28rem ;
}

.product-container{
  margin-top:28rem;
}
}

.hidden{
  visibility: hidden;
}