:root{
    --color:  #dc143c;
    --fuente-titulo: Verdana, Geneva, Tahoma, sans-serif ;
    --fuente-texto:'Montserrat' ;
}


*{
    margin: 0;
    padding: 0;
}


.title__colour{
    color: var(--color) ;
    font-family: var(--fuente-texto);
    font-weight: 700;
    border-left: var(--color) 15px solid;
    padding: 12px;
    margin-top: 50px;

}

.container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;

}

.container-title .title__h2{
    margin: 0;
}


#main-home{
    padding: 40px 120px 120px ;
   
}


#img-home{
    width: 100%;
    height: auto;
    margin: 90px 0px;
}


.button-container{

display: flex;
justify-content: center;
}

.button__home {    
    padding: 16px 48px; 
    font-size: 18px;
    color: white;
    background-color:  #dc143c;
    border: none;
    border-radius: 3px;
    font-family: var(--fuente-texto);
    
  }

.title__h2{
    color: black;
    font-size: 36px;
    font-family: var(--fuente-titulo);
    margin-bottom: 100px;
    margin-top: 50px;
}
.category-container{
    display: flex;
    justify-content: space-between;
}
.category{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: gray 1px solid;
    height: 150px;
    width: 170px;
    color:black;
   


}

.category img{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;


}


.category p{
    
    font-family: var(--fuente-texto);
    font-weight: 500;
    font-size: 16px;



}

.category:hover{
    background-color: var(--color) ;
    color: white;
    transition: 0.4s;
   
}

.category:hover img{
    filter: invert(100%) sepia(94%) saturate(26%) hue-rotate(263deg) brightness(107%) contrast(104%);
    transition: 0.4s;
}



.news-container{
   
    height: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas:
    "area1 area1 area2 area2"
    "area1 area1 area3 area4"

}
.item__new{
        background-color: black;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
}


.item_1{
   
    background-image: url(../Assets/Img/novedades/ps5.png);
    grid-area: area1;

}

.item_2{

    background-image: url(../Assets/Img/novedades/samsung.png);
    grid-area: area2;
}
.item_3{
 
    background-image: url(../Assets/Img/novedades/tablet.png);
    grid-area: area3;
}
.item_4{
    
    background-image: url(../Assets/Img/novedades/auricular.png);
    grid-area: area4;
}


.new__text{
    color: white;
    width: 70%;
    margin: 30px;
    font-family: var(--fuente-texto);

    & p{
        margin-bottom: 10px;
        font-size: 14px;
    }
    & a{
        border-bottom: white 1px solid;
        color: white;
    }
 

}
.new__texto .new__title{
    font-size: 24px;
    font-family: var(--fuente-titulo);
}



.services-container{
    margin: 100px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.service{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-titulo);
    font-size: 14px;

    & img{
        width: 30%;
        margin-bottom: 20px ; 
    }

    & p{
        text-align: center;
    }
}

.service__title{
    font-size: 18px;
    margin-bottom: 10px;

}




/* cards de juan */
.items-related__items{
    flex-wrap: wrap;
}
 
  @media only screen and (min-width: 768px) and (max-width: 1024px){

    #main-home{
        padding: 20px;
    }

    /* .container-titulo .boton__home{
       
        padding: 5px 0px;
    } */

    .category-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
        " grid-1 grid-2 grid-3 "
        " grid-4 grid-5 grid-6";
  
    }

    .category-grid-1{
        grid-area: grid-1 ;
        display: flex;
        justify-content: center;

    }
    .category-grid-2{
        grid-area: grid-2 ;
        display: flex;
        justify-content: center;

    }

    .category-grid-3{
        grid-area: grid-3 ;
        display: flex;
        justify-content: center;

    }
    .category-grid-4{
        grid-area: grid-4;
        display: flex;
        justify-content: center;

    }
    .category-grid-5{
        grid-area: grid-5;
        display: flex;
        justify-content: center;

    }
    .category-grid-6{
        grid-area: grid-6;
        display: flex;
        justify-content: center;
    }




    .news-container{
   
        height: 700px;
       
        display: grid;
        grid-template-rows: 1fr 1fr 1.2fr 1.3fr;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
        "area1 area1 area1 area1"
        "area1 area1 area1 area1"
        "area2 area2 area2 area2"
        "area3 area3 area4 area4"
    
    }
    .new__text{
        margin: 5px 10px;
        width: unset;
    }
    
    .item_1 .new__text{
        width: 70%;
    }
    .item_2 .new__text{
        width: 50%;
    }

    .new__text .new__title{
        font-size: 18px; 
        margin-bottom: 5px;
    }

    .new__text p {
        margin-bottom: 5px;
    }
    
    .services-container{
        margin: 10px;
        margin-top: 50px;
    }

    .service{
        height: 233px;
        justify-content: space-between;
    }
    

    .service img{
        width: 70px;
    
    } 



    
  }







  @media only screen and (width <= 767px){
    
    #main-home{
        padding: 20px;
    }
    #img-home{
        visibility: hidden;
        width: 0px;
        margin:0px;
    }

    .container-title .button__home{
       
        padding: 5px 0px;
    }

    .category-container{
     
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
        " grid-1 grid-2"
        " grid-3 grid-4"
        " grid-5 grid-6";
 
        
    }
    
    .category{
        width: 100%;
    }

    .category-grid-1{
        grid-area: grid-1 ;
        display: flex;
        justify-content: center;


    }
    .category-grid-2{
        grid-area: grid-2 ;
        display: flex;
        justify-content: center;

    }

    .category-grid-3{
        grid-area: grid-3 ;
        display: flex;
        justify-content: center;

    }
    .category-grid-4{
        grid-area: grid-4;
        display: flex;
        justify-content: center;

    }
    .category-grid-5{
        grid-area: grid-5;
        display: flex;
        justify-content: center;

    }
    .category-grid-6{
        grid-area: grid-6;
        display: flex;
        justify-content: center;
    }

    .news-container{
   
        height: 700px;    
        display: grid;
        grid-template-rows: 1fr 1fr 1.2fr 1.3fr;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas:
        "area1 area1 area1 area1"
        "area1 area1 area1 area1"
        "area2 area2 area2 area2"
        "area3 area3 area4 area4"
    
    }

    .new_text{
        margin: 5px 10px;
        width: unset;
    }
    
    .item_1 .new__text{
        width: 70%;
    }
    .item_2 .new__text{
        width: 50%;
    }

    .new__text .new__title{
        font-size: 18px; 
        margin-bottom: 5px;
    }

    .new__text p {
        margin-bottom: 5px;
    }

    .services-container{
        margin: 10px;
        margin-top: 50px;
    }

    .service{
        height: 233px;
        justify-content: space-between;

    }

    .service img{
        width: 70px;
    
    } 
   
    .title__h2{
        font-size: 24px;
        margin-bottom: 40px;
    }

    .cart__top{
        flex-direction: row;
    }

    .items-related{
        height: auto;
    } 
    .items__cart{
        width: 40%;
        max-width: unset;
        margin-bottom: 2rem;
        
    }
    .items-related__items{
        justify-content: space-around;

    }
}

