:root {
  --fuente-texto: "Montserrat";
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  min-height: 1500px;
  font-family: var(--fuente-texto);
  background-color: rgb(237, 237, 237);

  * {
    margin: 0;
    box-sizing: border-box;
  }

  & p {
    font-size: 1rem;
    margin: 0;
  }
}

main {
  height: 100%;
}

article {
  width: 100%;
  margin: auto;
}

.main-container {
  height: 95%;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  padding: 15px;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.path {
  color: gray;
  word-spacing: 10px;
  margin-bottom: 80px;

  & span {
    color: black;
    font-weight: bold;
    word-spacing: 2px;
  }
}

.product {
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}

.product__imgs {
  width: 65%;
  display: flex;
  flex-direction: row;
}

.imgs__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;

  & img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    border: 1px solid gray;
    border-radius: 4px;

    &:hover {
      border: 2.5px solid blue;
    }
  }
}

.imgs__selected {
  display: flex;
  padding: 20px;
  margin: auto;

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.product__information {
  width: 35%;
  display: flex;
  flex-direction: column;

  & h2 {
    margin-bottom: 15px;
  }
}

.description__review {
  display: flex;
  margin-bottom: 15px;

  & span {
    margin-left: 3px;
  }

  & p {
    color: grey;
    padding-left: 15px;

    & span:nth-child(2) {
      color: lightgreen;
    }
  }
}

.description__price {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.description__summary {
  line-height: 20px;
  margin-bottom: 25px;
}

.information__selection {
  margin-top: 25px;
}

.seleccion__colors {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;

  & p {
    display: inline-block;
  }

  & span {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 10px;
  }

  & span:nth-of-type(1) {
    background-color: red;
  }

  & span:nth-of-type(2) {
    background-color: blue;
  }
}

.seleccion__buttons {
  height: 40px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.buttons__quantity {
  display: flex;

  & button {
    width: 25%;
    font-size: 1.5rem;
    padding: 0;
    border: 1px solid gray;
  }

  & button:nth-of-type(1) {
    border-radius: 3px 0 0 3px;
    margin-right: -2px;
  }

  & button:nth-of-type(2) {
    border-radius: 0 3px 3px 0;
    margin-left: -2px;
  }

  & input {
    width: 50%;

    &:focus {
      outline: none;
    }
  }
}

.buttons__buy {
  width: 160px;
}

.buttons__favorite {
  width: 40px;
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

  & i {
    font-size: 1.3rem;
  }
}

.information__shipment {
  height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1.5px solid gray;
  border-radius: 3px;

  & div {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  & div:nth-of-type(1) {
    border-bottom: 1px solid gray;
  }

  & i {
    font-size: 1.5rem;
    padding-left: 20px;
  }

  & ul {
    list-style: none;
    line-height: 30px;
    padding-left: 25px;

    & li:nth-of-type(1) {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.items-related {
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.items-related__title {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;

  & span {
    height: 100%;
    width: 20px;
    background-color: red;
  }

  & p {
    padding-left: 10px;
  }
}

.items-related__items {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  & h3 {
    margin-bottom: 15px;
  }
}

.items__cart {
  width: 20%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
}

.cart__top {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 0 10px;
}

.cart__top-descuento {
  height: 25px;
  width: 55px;
  color: white;
  text-align: center;
  padding: 2px 5px 5px 5px;
  background-color: red;
}

.cart__top-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  font-size: 1.5rem;
}

.cart__img-product {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.cart__price {
  color: red;

  & span {
    color: black;
    margin-left: 15px;
  }
}

.checked {
  color: orange;
}

.hidden {
  display: none;
}

.cart__carrito {
  height: 35px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 0 0 4px 4px;
}

@media only screen and (width <= 767px) {
  html {
    min-width: 100vw;
  }

  body {
    min-height: 1630px;
    width: 100%;
    min-width: 0;
  }

  .main-container {
    height: 100%;
    width: 100vw;
    max-width: none;
    margin: auto 0;
    padding: 20px;
  }

  .path {
    margin-bottom: 60px;
  }

  .product {
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px auto;
    gap: 35px;
  }

  .product__imgs {
    width: 100%;
  }

  .imgs__column {
    & img {
      height: 40px;
      width: 40px;
    }
  }

  .product__information {
    width: 100%;
  }

  .items-related {
    height: 450px;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;

    & h3 {
      font-size: 0.8rem;
      line-height: 20px;
      margin: 0;
    }
  }

  .items-related__items {
    gap: 5px;
  }

  .items__cart {
    width: 25%;
    justify-content: space-between;
  }

  .cart__top {
    gap: 15px;
    flex-direction: column;
  }

  .cart__top-descuento {
    width: auto;
    max-width: 55px;
    padding: 4px 2px 2px 4px;
    font-size: 0.8em;
  }

  .cart__top-buttons {
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-around;
  }

  .cart__img-product {
    height: 130px;
  }

  .cart__price {
    font-size: 0.8rem;
  }
}

@media only screen and (width < 350px) {
  .imgs__column {
    & img {
      height: 23px;
      width: 23px;
    }
  }

  .information__shipment {
    font-size: 0.75rem;
  }
}

.basic-button {
  font-size: 0.85rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.red-button {
  color: white;
  background-color: red;

  &:active {
    background-color: rgb(202, 12, 50);
  }
}

.white-button {
  color: black;
  background-color: white;
  border: 1px solid black;

  &:active {
    background-color: rgb(184, 178, 178);
  }
}
