body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
        
}

.main-login-container {
    /* overflow: auto; */
    max-width: 90vw;
    height: 80vh;
    margin: 1.1em auto;
    background-color: rgb(237, 237, 237);
    border-radius: 0.33em;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    padding: 1em;
    color:#1f1d1d
}

.main-login-box {
   display: flex;
   height: 100%;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 0.33em;     
}



.main-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 98%;
    width: 33em; 
    padding: 0.1em
} 

.main-item {
    margin-bottom: 1em;
    height: auto;
}

.main-login-img {
   width: 66em;
   max-height: 98%;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-login-box {
        align-items: center;
        flex-direction: column; 
        position: relative; 
    }

    .main-login-img {
        width: 99%; 
        max-height: auto;
    }

    .main-item-box {
        position: absolute; 
        top: 0; 
        left: center; 
        width: 60%; 
        height: 100%; 
        background-color: rgba(255, 255, 255, 0.8); 
        z-index: 1;
    }

    .main-item {
        left: center;
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"], 
    textarea {
        background-color: rgba(255, 255, 255, 0.1);
    }
}





@media only screen and (max-width: 767px) {
    .main-login-img {
        display: none;
    }
    .main-login-container {
        
        max-width: 97vw;
        height: 85vh;
        margin: 3em auto;
        background-color: rgb(237, 237, 237);
        border-radius: 0.33em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 1.33em;
        color:#1f1d1d
    }
    .main-item-box {
        width: 90%;
    }

    .main-item {
        left: center;
        text-align: center;
    }
    
}



h2 {
    text-align: center;
    padding-bottom: 0.7em;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding: 0.25em;
    margin-left: 0.55em;
    width: 98%;
}



.form-item {
    width: 100% 
}


label {
    margin-bottom: 10px;
}

.observation {
    font-size: 0.76rem;
    position: relative;
    top: -0.9em;
    left: 0.9em;
    margin-bottom: 0.5em;
    
}

input[type="text"],
input[type="email"],
input[type="password"], 
textarea {
    padding: 0.5em;
    margin-bottom: 1.33em;
    border: none;  
    border-bottom: 1px solid #ccc; 
    border-radius: 0.1em;
    color: #1f1d1d;
    width: 100%;
    display: block;
}

input[type="submit"] {
    padding: 0.8em;
    border: none;
    border-radius: 0.3em;
    background-color: red;
    color: rgb(237, 237, 237);
    cursor: pointer;
    position: relative;
    left: 0%;
    width: auto;
}

input[type="submit"]:hover {
    background-color: rgb(202,12,50);
}

.submit {
    width: 100%;
}

.main-item-box-footer {
    max-height: 2em;
}

                    
.login-a {
    color: #1f1d1d;    
    font-style: bold;
}

.login-a:hover {
    color: white; 
    background-color: red;
    padding: 0.3em;
    border-radius: 0.3em;
}

.checkbox-container {
    font-size: 0.76em;
}

.terminos-y-condiciones, .ofertas-y-novedades {
    margin-bottom: 1.37em;
    font-size: 0.76em;
}

.checkbox-container label {
    display: inline-flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 0.5em; 
    transform: scale(1.2); 
}

#terminos_condiciones {
    color: red;
    font-style: bold; 
    margin-left: 0.4em !important; 
}

#terminos_condiciones:hover {
       transform: scale(1.05);
       text-decoration: underline;
     
}


.error {
    color: red;
    margin-top: 5px;
}